#userslist{
 position: absolute;
 border: 3px solid #006677;
 left: 2%;
 top: calc(2% + 60px);
 width: calc(47% - 36px);
 padding: 15px;
 border-radius: 8px;
 height: calc(96% - 96px); 
 overflow: hidden;
 overflow-y: auto;
 margin-top: 0px;
}     
 
#userslist h2{ 
 position: fixed;  
 margin-top: -30px;
 margin-bottom: 5px;
 background: white;
 left: 24.5%;
 transform: translate(-50%, 0%);
 text-align: center;
 border-radius: 8px;
 width: 190px;
 color: #006677;
 z-index: 3;  
}

#vuserslist{
 position: absolute;
 border: 3px solid #006677;
 right: 2%;
 top: calc(2% + 60px);
 width: calc(47% - 36px);
 padding: 15px;
 border-radius: 8px;
 height: calc(96% - 96px); 
 overflow: hidden;
 overflow-y: auto;
 margin-top: 0px;
}     
 
#vuserslist h2{ 
 position: fixed;
 margin-top: -30px;
 margin-bottom: 5px;
 background: white;
 right: 24.5%;
 transform: translate(40%, 0%);
 text-align: center;
 border-radius: 8px;
 width: 180px;
 color: #006677;
 z-index: 3;  
}

#userslist::-webkit-scrollbar-track, #vuserslist::-webkit-scrollbar-track{
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
 border-radius: 0px 5px 5px 0px;   
}

#userslist::-webkit-scrollbar, #vuserslist::-webkit-scrollbar{
 width: 10px;
 background-color: #F5F5F5; 
 border-radius: 0px 5px 5px 0px;  
}

#userslist::-webkit-scrollbar-thumb, #vuserslist::-webkit-scrollbar-thumb{
 border-radius: 0px 5px 5px 0px;
 background-image: -webkit-gradient(linear,
								   left bottom,
								   left top,
								   color-stop(0.44, rgb(122,153,217)),
								   color-stop(0.72, rgb(73,125,189)),
								   color-stop(0.86, rgb(28,58,148))); 
}


#adduser, #vadduser{
 height: 50px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 cursor: pointer;
}

#userstable, #vuserstable{
 border-collapse: collapse;
 border-spacing: 0px; 
 margin: 10px auto;
 text-align: center;
 width: 80%;
 box-shadow: black 4px 6px 10px;
}
 
#userstable td, #vuserstable td{
 padding: 2px 0px;
 line-height: 20px;
 height: 20px;
 border: 1px solid grey;
}

#userstable tr, #vuserstable tr{
 border: 2px solid grey;
 background-color: #DDFFDD; 
 background-image:         linear-gradient(to bottom, #DDFFDD, #EEFFEE);
}

#userstable tr:nth-child(odd), #vuserstable tr:nth-child(odd){ 
 background-color: #DDDDDD;
 background-image:         linear-gradient(to bottom, #DDFFDD, #EEFFEE); 
}

#userstable tr:nth-child(even), #vuserstable tr:nth-child(even){
 background-color: #FFFFDD;
 background-image:         linear-gradient(to bottom, #FFFFDD, #FFFFFA); 
}  
 
#userstable th, #vuserstable th{ 
 background: #AACCCC;
}

#userstable img, #vuserstable img{
 height: 18px;
 margin: 0px 5px;
}

#userstable .deluser, #userstable .edituser, #vuserstable .vdeluser, #vuserstable .vedituser{
 cursor: pointer;
}

#user, #vuser{
 background-color: rgba(155,155,155,0.8);
 position: absolute;
 width: 100%;
 height: 100%;
 left: 0px;
 top: 0px;
 z-index: 5;
 display: none;
}

#userform, #vuserform{    
 opacity: 1;
 width: 240px;
 margin-top: 150px;
 margin-left: auto;
 margin-right: auto;
 padding: 10px 55px 40px;
 background-color: #BBFFB8;
 border: 15px solid white;
 box-shadow: 0 0 10px;
 border-radius: 2px;
 font-size: 15px;
}

#opname, #oplogin, #usname, #uslogin, #uspass, #usrights{
 width: 97.7%;
 height: 34px;
 padding-left: 5px;
 margin-bottom: 20px;
 margin-top: 8px;
 box-shadow: 0 0 5px #00F5FF;
 border: 2px solid #00F5FF;
 color: #4f4f4f;
 font-size: 18px;
 font-weight: bolder;
}

label{
 color: #464646;
 text-shadow: 0 1px 0 #fff;
 font-size: 18px;
 font-weight: bold;
}

.userbtn{
 width: 40%;
 margin: 15px 5%;
 background: linear-gradient(#22abe9 5%, #36caf0 100%);
 border: 1px solid #0F799E;
 font-size: 20px;
 padding: 8px;
 font-weight: bold;
 cursor: pointer;
 color: white;
 text-shadow: 0px 1px 0px #13506D;
}

.userbtn:hover{
 background: linear-gradient(#36caf0 5%, #22abe9 100%);
}
